- name: test
  hosts: aws_ec2
  become: true
  become_user: root
  var_files:
  - vars/bashrc_update.yaml
  - vars/copy_ssh.yaml
  - vars/k8s.yaml
  - remote_script.yaml

  tasks:
  - name: test connection
    apt:
      name: unzip
      state: present 
      update_cache: yes
    when: kubernetes_role == "control_plane"
  
  - name: Copy private SSH key to remote host
    ansible.builtin.copy:
      src: "{{ private_key_src }}"
      dest: "{{ private_key_dest }}"
      owner: "{{ target_user }}"
      group: "{{ target_group }}"
      mode: '0600'
    when: kubernetes_role == "control_plane"

  - name: Add alias to .bashrc
    ansible.builtin.lineinfile:
      path: "/{{ target_user }}/.bashrc"
      regexp: "^alias {{ alias_name }}="
      line: "alias {{ alias_name }}='{{ alias_command }}'"
      state: present
      create: yes
      owner: "{{ target_user }}"
      group: "{{ target_user }}"
      mode: '0644'
    when: kubernetes_role == "control_plane"

  - name: Copy script to remote node
 
    ansible.builtin.copy:
      src: "{{ script_src }}"
      dest: "{{ remote_script_path }}"
      mode: '0755' # Grants execute permissions

  - name: Execute the copied script
    ansible.builtin.command:
      cmd: "{{ remote_script_path }}"
    register: command_outpu


  - name: install AWS CLI
    ansible.builtin.include_role:
      name: deekayen.awscli2
    when: kubernetes_role == "control_plane"
  
  - name: install Helm
    ansible.builtin.include_role:
      name: geerlingguy.helm
    when: kubernetes_role == "control_plane"

  # roles:
  # - role: geerlingguy.containerd
  # - role: geerlingguy.kubernetes
