- name: test
  hosts: aws_ec2
  become: true
  become_user: root
  vars:
    kubernetes_pod_network:
      cni: 'flannel'
      cidr: '10.244.0.0/16'

  tasks:
  - name: test connection
    apt:
      name: unzip
      state: present 
      update_cache: yes

  - name: install AWS CLI
    ansible.builtin.include_role:
      name: deekayen.awscli2
    when: kubernetes_role == "control_plane"
  
  - name: install Helm
    ansible.builtin.include_role:
      name: geerlingguy.helm
    when: kubernetes_role == "control_plane"

  # roles:
  # - role: geerlingguy.containerd
  # - role: geerlingguy.kubernetes
