---
- hosts: _tf_nach_working_node
  become: true
  tasks:
    # 1. FIX THE "PORT IN USE" ERROR
    - name: Reset Kubernetes component (wipe previous install)
      shell: kubeadm reset -f
      ignore_errors: true  # Continue even if it wasn't installed

    - name: Stop Kubelet explicitly
      service:
        name: kubelet
        state: stopped
      ignore_errors: true

    # 2. FIX THE "IP FORWARDING" ERROR
    - name: Enable IPv4 forwarding in the kernel immediately
      command: sysctl -w net.ipv4.ip_forward=1

    - name: Persist IPv4 forwarding (so it survives reboot)
      sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        sysctl_set: yes
        state: present
        reload: yes

    # 3. CLEANUP CNI GARBAGE (Optional but recommended)
    - name: Remove CNI config files
      file:
        path: /etc/cni/net.d
        state: absent

    - name: Remove CNI binaries
      file:
        path: /opt/cni/bin
        state: absent